{% extends 'ieeestudent/base.html' %}
{% load staticfiles %}

{% block page_title %} About {% endblock %}
{% block title %} ../ {% endblock %}
{% block home %} ../ {% endblock %}
{% block events %} ../events/2017/ {% endblock %}
{% block events2015 %} ../events/2015/ {% endblock %}
{% block events2016 %} ../events/2016/ {% endblock %}
{% block events2017 %}  ../events/2017/ {% endblock %}
{% block active_about %} class = "active" {% endblock %}
{% block gallery %} ../gallery/ {% endblock %}
{% block footer_gallery %} ../gallery/ {% endblock %}
{% block about %} ../about/ {% endblock %}
{% block footer_home %} ../ {% endblock %}
{% block footer_home1 %} ../ {% endblock %}
{% block footer_events %} ../events/2017/ {% endblock %}
{% block footer_about %} ../about/ {% endblock %}


{% block content %}
<br>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
<h1 class="heading" style="margin-top: 8%; font-size: 25px"> Contact Us</h1>
<h3 class="heading" style="margin-top: 3%; font-size: 22px">SSN Trust Office</h3>
    <p style="text-justify: auto">211/95, V.M. Street, Mylapore<br>
Chennai – 600 004<br>
Phone: +91 44 2498 6474 / 2498 2656<br>
Fax: +91 44 2498 2656<br>

</p>

<h3 class="heading" style="margin-top: 5%; font-size: 22px">SSN Institutions</h3>
<div style="float: left; display: inline; margin-left: 15%;">
    <h3 class="heading" style="margin-top: 8%; font-size: 18px">SSN College of Engineering</h3>
    <p style="text-justify: auto;">Old Mahabalipuram Road
Kalavakkam – 603 110<br>
Tamil Nadu, India<br>
Phone: +91 44 27469700<br>
Telefax: +91 44 27469772<br>
Email: info@ssn.edu.in</p>
</div>
<div style="display: inline;">
    <h3 class="heading" style="margin-top: 3%; font-size: 18px">SSN School of Management</h3>
    <p style="text-justify: auto;">Old Mahabalipuram Road<br>
Kalavakkam – 603 110<br>
Tamil Nadu, India<br>
Phone: +91 44 2746 9774<br>
Email: somca.admissions@ssn.edu.in</p>
</div>

    <h3 class="heading" style="margin-top: 3%; font-size: 18px">SSN School of Advanced Career Education</h3>
    <p style="text-justify: auto;">Old Mahabalipuram <br>
Kalavakkam – 603 110<br>
Tamil Nadu, India<br>
Phone : +91 94459 72530/+91 92825 25777<br>
Telefax: +91 44 27469772<br>
Email : sace.info@ssn.edu.in</p>
</div>
<br>
<br>
{% endblock %}