{% extends 'ieeestudent/base.html' %}
{% load staticfiles %}
{% block page_title %} SSN IEEE {% endblock %}
{% block title %} ../ {% endblock %}
{% block home %} ../ {% endblock %}
{% block events %} /events/2017/ {% endblock %}
{% block events2015 %} /events/2015/ {% endblock %}
{% block events2016 %} /events/2016/ {% endblock %}
{% block events2017 %}  /events/2017/ {% endblock %}
{% block active_home %} class = "active" {% endblock %}
{% block gallery %} /gallery/ {% endblock %}
{% block about %} /about/ {% endblock %}
{% block footer_home %} ../ {% endblock %}
{% block footer_home1 %} ../ {% endblock %}
{% block footer_gallery %} /gallery/ {% endblock %}
{% block footer_events %} /events/2017/ {% endblock %}
{% block footer_about %} /about/ {% endblock %}

{% block content %}

<div class="wrapper bgded overlay" style="background-image:url('{% static 'ieeestudent/images/gallery/group_photo.jpg' %}'); height: 100%;">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <p> </p>

        <h2 style="margin-left: 0px;padding-bottom: 40%; font-size: 35px";> Welcome to SSN IEEE Student Chapter </h2 >

    </article>
    </div>
</div>
<div class="wrapper row3">
  <br>
<br>
<br>
  <br>
<br>
  <div class="wrapper bgded overlay" style="background-color: #061042; ";>
  <div class="hoc container clear">
    <h3 class="heading" style="font-size: 25px; margin-left: auto; margin-right: auto; text-align: center;";>About SSN</h3>
    <img src="{%static 'ieeestudent/images/logo/ssn_logo_white.png' %}" style="padding-left: -20px; display: inline ;width:70px; height:50px;";>
    <p style="text-justify: auto;";>SSN Institutions, founded by Dr. Shiv Nadar, Chairman, HCL Technologies, stands out as a premier center of higher learning with a mission of pursuing excellence in education and research. The institutions, with their diverse and dynamic community of students offer a distinctive combination of some of the finest graduate, undergraduate and research programs, accomplished faculty, world class facilities and a residential campus set on a sprawling 250 acres of sylvan surroundings.</p>
  </div>
  </div>
  <br>
<br>
<br>
  <br>
<br>
  <div class="wrapper bgded overlay" style="background-color: #061042; ";>
  <div class="hoc container clear">
    <h3 class="heading" style="font-size: 25px; margin-left: auto; margin-right: auto; text-align: center;">About IEEE</h3>
    <img src="{%static 'ieeestudent/images/logo/ieee_transparent.png' %}" style="padding-left: -20px; display: inline ;width:70px; height:50px";>

    <p style="text-justify: auto;";>IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of humanity. IEEE's core purpose is to foster technological innovation and excellence for the benefit of humanity.
IEEE will be essential to the global technical community and to technical professionals everywhere, and be universally recognized for the contributions of technology and of technical professionals in improving global conditions.</p>
     </div>
  </div>
   <br>
<br>
<br>
  <br>
<br>
  <div class="wrapper bgded overlay" style="background-color: #061042";>
  <div class="hoc container clear">
    <h3 class="heading"  style="margin-left: auto; margin-right: auto; text-align: center; font-size: 25px;">Meet our Members</h3>
    <br>
    <br>
    <br>
    <br>

    <!-- ################################################################################################ -->
    <div class="flexslider testimonials">
      <ul class="slides">
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/councillor.jpg' %}" alt="">
             <h6 class="heading">Dr. T. Sree Sharmila</h6>
            <h6 class="heading">Student Branch Councillor</h6>
          </article>
        </li>
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/chair.jpg' %}" alt="">
             <h6 class="heading">Kavin D</h6>
            <h6 class="heading">Chair</h6>
          </article>
        </li>
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/co-chair.jpg' %}" alt="">
             <h6 class="heading">Arjun</h6>
            <h6 class="heading">Co-Chair</h6>
          </article>
        </li>
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/secretary.jpg' %}" alt="">
             <h6 class="heading">Madhavan</h6>
            <h6 class="heading">Secretary</h6>
          </article>
        </li>
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/co-secretary.jpeg' %}" alt="">
             <h6 class="heading">Shilpa</h6>
            <h6 class="heading">Co-Secretary</h6>
          </article>
        </li>
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/treasurer.jpg' %}" alt="">
             <h6 class="heading">Vasanth Kumar</h6>
            <h6 class="heading">Treasurer</h6>
          </article>
        </li>
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/content-dev.jpg' %}" alt="">
             <h6 class="heading">Ramya</h6>
            <h6 class="heading">Content Developer</h6>
          </article>
        </li>
        <li>
          <article><img class="circle" src="{% static 'ieeestudent/images/office/webmaster.jpeg' %}" alt="">
             <h6 class="heading">Chandramowli J</h6>
            <h6 class="heading">Webmaster</h6>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
   <br>
<br>
<br>

  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Quick Links</h6>
       </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article class="infobox">
          <center><h6 class="heading" style="margin:5px 0px 0px 0px";><a href="https://www.ieee.org/index.html">IEEE's Official site</a></h6></center>

          </article>
      </li>
      <li class="one_third">
        <article class="infobox">
         <center><h6 class="heading" style="margin:5px 0px 0px 0px";><a href="http://www.ieee.org/membership_services/membership/join/index.html">Join IEEE</a></h6></center>
           </article>
      </li>
      <li class="one_third">
        <article class="infobox">
          <center><h6 class="heading" style="margin:5px 0px 0px 0px";><a href="http://standards.ieee.org/">IEEE Standards</a></h6></center>
          </article>
      </li>
      <li class="one_third first">
        <article class="infobox">
        <center><h6 class="heading" style="margin:5px 0px 0px 0px";><a href="http://spectrum.ieee.org/">IEEE Spectrum</a></h6></center>
           </article>
      </li>
      <li class="one_third">
        <article class="infobox">
        <center><h6 class="heading" style="margin:5px 0px 0px 0px";><a href="http://ieeexplore.ieee.org/Xplore/home.jsp">IEEE Xplore</a></h6></center>

        </article>
      </li>
      <li class="one_third">
        <article class="infobox">
         <center><h6 class="heading" style="margin:5px 0px 0px 0px";><a href="https://www.ieee.org/sitemap.html">More IEEE Sites</a></h6></center>
           </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear">
    <!-- ################################################################################################ -->
    <!--<div class="sectiontitle">-->
      <!--<h6 class="heading">Lectus molestie porttitor</h6>-->
      <!--<p>Donec accumsan ligula vitae magna mauris neque phasellus.</p>-->
    <!--</div>-->
    <!--<ul class="nospace group elements">-->
      <!--<li class="one_third first">-->
        <!--<article><a href="#"><i class="fa fa-clipboard"></i></a>-->
          <!--<h6 class="heading">Justo pellentesque</h6>-->
          <!--<p>Quis iaculis scelerisque diam nisl pulvinar risus at fringilla sem augue in nulla [&hellip;]</p>-->
          <!--<footer><a href="#">Read More &raquo;</a></footer>-->
        <!--</article>-->
      <!--</li>-->
      <!--<li class="one_third">-->
        <!--<article><a href="#"><i class="fa fa-skyatlas"></i></a>-->
          <!--<h6 class="heading">Orci vitae vehicula</h6>-->
          <!--<p>Morbi semper metus ac pulvinar adipiscing dui justo gravida arcu et venenatis justo [&hellip;]</p>-->
          <!--<footer><a href="#">Read More &raquo;</a></footer>-->
        <!--</article>-->
      <!--</li>-->
      <!--<li class="one_third">-->
        <!--<article><a href="#"><i class="fa fa-empire"></i></a>-->
          <!--<h6 class="heading">Auctor luctus diam</h6>-->
          <!--<p>Lacus ut nisi maecenas ultrices neque a nisl nunc lorem diam rhoncus aliquet sit [&hellip;]</p>-->
          <!--<footer><a href="#">Read More &raquo;</a></footer>-->
        <!--</article>-->
      <!--</li>-->
    <!--</ul>-->
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
{% endblock %}